.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .plane {

    border: none;
    .icons {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.4rem;
      .btn {
        transition: 0.5s;
        color: red;
        &:hover {
          color: #111111;
        }
      }
    }
    p{

    }
  }
  form{
    width: 100%;

    input{
    width: 100%;
      height: 5vh;
      font-size: 1.1rem;
      padding: 0 .5rem;
      border-radius: 5px;
    }
  }
}
